// color variables
$primary-color: #3734a9;
$primary-light: #abc8d2;
$primary-dark: #c9e7f2;

$secondary-color: #22d497;

$background-main: #fafbff;
$background-secondary: #ffffff;

$accent-color: #ff7f5c;

$dark-secondary-border: #e5e5ea;
$dark-secondary-color : #C4C4C4;


$dark-text : #000000;
$dark-secondary-text : #64607D;